## Descriptive statistics

```
count()   Number of non-null observations
sum()	  Sum of values
mean()	  Mean of Values
median()  Median of Values
mode()	  Mode of values
std()	  Standard Deviation of the Values
min()	  Minimum Value
max()	  Maximum Value
abs()	  Absolute Value
prod()	  Product of Values
cumsum()  Cumulative Sum
cumprod() Cumulative Product
```

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/sampleData.csv')
df

,ProductID,Date,Zip,Units,Revenue,City,State,Region,District,Country,Manufacturer,IsCompete,Product,Category,Segment
0,580,1/2/2015,78758,1,834.4875,"Austin, TX, USA",TX,Central,District #23,USA,VanArsdel,N,Maximus UC-45,Urban,Convenience
1,559,1/2/2015,76209,1,629.9475,"Denton, TX, USA",TX,Central,District #22,USA,VanArsdel,N,Maximus UC-24,Urban,Convenience
2,596,1/2/2015,79763,1,766.2375,"Odessa, TX, USA",TX,Central,District #22,USA,VanArsdel,N,Maximus UC-61,Urban,Convenience
3,2064,1/2/2015,11758,1,577.4475,"Massapequa, NY, USA",NY,East,District #03,USA,Currus,N,Currus UE-24,Urban,Extreme
4,2055,1/2/2015,78610,1,656.1975,"Buda, TX, USA",TX,Central,District #23,USA,Currus,N,Currus UE-15,Urban,Extreme
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5513,1053,6/30/2015,79831,1,293.9475,"Alpine, TX, USA",TX,Central,District #22,USA,Pirum,N,Pirum MA-11,Mix,All Season
5514,2284,6/30/2015,14086,1,330.6975,"Lancaster, NY, USA",NY,East,District #06,USA,Aliqui,N,Aliqui RS-17,Rural,Select
5515,2284,6/30/2015,14094,1,330.6975,"Lockport, NY, USA",NY,East,District #06,USA,Aliqui,N,Aliqui RS-17,Rural,Select
5516,2277,6/30/2015,14304,1,293.9475,"Niagara Falls, NY, USA",NY,East,District #06,USA,Aliqui,N,Aliqui RS-10,Rural,Select
5517,993,6/30/2015,76051,2,766.3950,"Grapevine, TX, USA",TX,Central,District #22,USA,Natura,N,Natura UC-56,Urban,Convenience

In [3]:
print('Total Revenue of VanArsdel:',round(df[df.Manufacturer=='VanArsdel'].Revenue.sum(),2))

Total Revenue of VanArsdel: 1708741.49

In [4]:
print('Total count of revenue greater than 1000:',df.Revenue[df['Revenue']>1000].count()-1)

Total count of revenue greater than 1000: 64

In [5]:
print('Average revenue in Rural:',round(df[df.Category=='Rural'].Revenue.mean(),2))

Average revenue in Rural: 197.12

In [6]:
print('Maximum Revenue:',round(df.Revenue.max(),2))

Maximum Revenue: 7336.46

In [7]:
print('Minimum Revenue:',round(df.Revenue.min(),2))

Minimum Revenue: 56.65

In [8]:
print(df.describe().Revenue)

count    5518.000000
mean      548.206275
std       313.755539
min        56.647500
25%       288.697500
50%       524.947500
75%       834.487500
max      7336.455000
Name: Revenue, dtype: float64