## pipe(), apply() and applymap()

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randint(1,101,(7,3)),columns=['Random1','Random2','Random3'])

print('Sample DataFrame:\n',df)

Sample DataFrame:
    Random1  Random2  Random3
0       66       87       97
1       13       63       99
2       97       56       21
3       36       83       21
4       24       89       75
5        3       10       58
6       34       20       74

In [3]:
print('pipe() takes the whole dataframe as argument: df.pipe(lambda x: print(x))\n')
df.pipe(lambda x: print(x))

pipe() takes the whole dataframe as argument: df.pipe(lambda x: print(x))

   Random1  Random2  Random3
0       66       87       97
1       13       63       99
2       97       56       21
3       36       83       21
4       24       89       75
5        3       10       58
6       34       20       74

In [4]:
print('\nprint(df.pipe(lambda x: x*2)\n')
print(df.pipe(lambda x: x*2))

print(df.pipe(lambda x: x*2)

   Random1  Random2  Random3
0      132      174      194
1       26      126      198
2      194      112       42
3       72      166       42
4       48      178      150
5        6       20      116
6       68       40      148

In [5]:
print('Sample DataFrame:\n',df)

Sample DataFrame:
    Random1  Random2  Random3
0       66       87       97
1       13       63       99
2       97       56       21
3       36       83       21
4       24       89       75
5        3       10       58
6       34       20       74

In [6]:
print('apply() takes each column(default axis=0) as argument: df.apply(lambda x: print(x))\n')
df.apply(lambda x: print(x))

apply() takes each column(default axis=0) as argument: df.apply(lambda x: print(x))

0    66
1    13
2    97
3    36
4    24
5     3
6    34
Name: Random1, dtype: int32
0    87
1    63
2    56
3    83
4    89
5    10
6    20
Name: Random2, dtype: int32
0    97
1    99
2    21
3    21
4    75
5    58
6    74
Name: Random3, dtype: int32

Random1    None
Random2    None
Random3    None
dtype: object

In [7]:
print('print(df.apply(lambda x: x*2 if x.name == \'Random2\' else x))\n')
print(df.apply(lambda x: x*2 if x.name == 'Random2' else x))

print(df.apply(lambda x: x*2 if x.name == 'Random2' else x))

   Random1  Random2  Random3
0       66      174       97
1       13      126       99
2       97      112       21
3       36      166       21
4       24      178       75
5        3       20       58
6       34       40       74

In [8]:
print('\nprint(df.apply(lambda x: x*3 if x.name == 0 else x,axis=1))\n')
print(df.apply(lambda x: x*3 if x.name == 0 else x,axis=1))

print(df.apply(lambda x: x*3 if x.name == 0 else x,axis=1))

   Random1  Random2  Random3
0      198      261      291
1       13       63       99
2       97       56       21
3       36       83       21
4       24       89       75
5        3       10       58
6       34       20       74

In [9]:
print('Sample DataFrame:\n',df)

Sample DataFrame:
    Random1  Random2  Random3
0       66       87       97
1       13       63       99
2       97       56       21
3       36       83       21
4       24       89       75
5        3       10       58
6       34       20       74

In [10]:
print('applymap() takes each values as argument: df.applymap(lambda x: \'pandas\' if x>50 else x)\n')
print(df.applymap(lambda x: 'pandas' if x>50 else x))

applymap() takes each values as argument: df.applymap(lambda x: 'pandas' if x>50 else x)

  Random1 Random2 Random3
0  pandas  pandas  pandas
1      13  pandas  pandas
2  pandas  pandas      21
3      36  pandas      21
4      24  pandas  pandas
5       3      10  pandas
6      34      20  pandas