## Iteration

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randint(1,101,(10,5)),columns=np.array(list('ABCDE')))
print('Sample DataFrame:\n',df)

Sample DataFrame:
     A   B   C   D    E
0  45  75  18  47   58
1  55  99  13  32   95
2  82  27  32  82   74
3  59  94  82  54   69
4  71  95  74  10   37
5  21  83  34  55   69
6  53  42  99   1   92
7  42  74   4  49  100
8  73  78  82  52   78
9   4  37  53  26   24

In [3]:
print('Using iteritems()\n')

for column,values in df.iteritems():
    print(column)
    print(values)

Using iteritems()

A
0    45
1    55
2    82
3    59
4    71
5    21
6    53
7    42
8    73
9     4
Name: A, dtype: int32
B
0    75
1    99
2    27
3    94
4    95
5    83
6    42
7    74
8    78
9    37
Name: B, dtype: int32
C
0    18
1    13
2    32
3    82
4    74
5    34
6    99
7     4
8    82
9    53
Name: C, dtype: int32
D
0    47
1    32
2    82
3    54
4    10
5    55
6     1
7    49
8    52
9    26
Name: D, dtype: int32
E
0     58
1     95
2     74
3     69
4     37
5     69
6     92
7    100
8     78
9     24
Name: E, dtype: int32

In [4]:
print('Using iterrows()\n')

for row_index,row in df.iterrows():
    print(row_index)
    print(row)

Using iterrows()

0
A    45
B    75
C    18
D    47
E    58
Name: 0, dtype: int32
1
A    55
B    99
C    13
D    32
E    95
Name: 1, dtype: int32
2
A    82
B    27
C    32
D    82
E    74
Name: 2, dtype: int32
3
A    59
B    94
C    82
D    54
E    69
Name: 3, dtype: int32
4
A    71
B    95
C    74
D    10
E    37
Name: 4, dtype: int32
5
A    21
B    83
C    34
D    55
E    69
Name: 5, dtype: int32
6
A    53
B    42
C    99
D     1
E    92
Name: 6, dtype: int32
7
A     42
B     74
C      4
D     49
E    100
Name: 7, dtype: int32
8
A    73
B    78
C    82
D    52
E    78
Name: 8, dtype: int32
9
A     4
B    37
C    53
D    26
E    24
Name: 9, dtype: int32

In [5]:
print('Using itertuples()\n')

for row in df.itertuples():
    print(row)

Using itertuples()

Pandas(Index=0, A=45, B=75, C=18, D=47, E=58)
Pandas(Index=1, A=55, B=99, C=13, D=32, E=95)
Pandas(Index=2, A=82, B=27, C=32, D=82, E=74)
Pandas(Index=3, A=59, B=94, C=82, D=54, E=69)
Pandas(Index=4, A=71, B=95, C=74, D=10, E=37)
Pandas(Index=5, A=21, B=83, C=34, D=55, E=69)
Pandas(Index=6, A=53, B=42, C=99, D=1, E=92)
Pandas(Index=7, A=42, B=74, C=4, D=49, E=100)
Pandas(Index=8, A=73, B=78, C=82, D=52, E=78)
Pandas(Index=9, A=4, B=37, C=53, D=26, E=24)

In [6]:
for row in df.itertuples():
    print(row[1])

45
55
82
59
71
21
53
42
73
4