## Period and PeriodIndex

In [1]:
import numpy as np
import pandas as pd

In [2]:
y = pd.Period('2016')
m = pd.Period('2016-03')
d = pd.Period('2016-03-29')

y

Period('2016', 'A-DEC')

In [3]:
m

Period('2016-03', 'M')

In [4]:
d

Period('2016-03-29', 'D')

In [5]:
print(y+1)
print(m+1)
print(d+1)

2017
2016-04
2016-03-30

In [6]:
print('Year start time:',y.start_time)
print('Year end time:',y.end_time)

Year start time: 2016-01-01 00:00:00
Year end time: 2016-12-31 23:59:59.999999999

In [7]:
print('\nMonth start time:',m.start_time)
print('Month end time:',m.end_time)

Month start time: 2016-03-01 00:00:00
Month end time: 2016-03-31 23:59:59.999999999

In [8]:
print('\nDay start time:',d.start_time)
print('Day end time:',d.end_time)

Day start time: 2016-03-29 00:00:00
Day end time: 2016-03-29 23:59:59.999999999

In [9]:
q1= pd.Period('2017Q1')
print('Quarter 1 start time:',q1.start_time)
print('Quarter 1 end time:',q1.end_time)

Quarter 1 start time: 2017-01-01 00:00:00
Quarter 1 end time: 2017-03-31 23:59:59.999999999

In [10]:
q3= pd.Period('2017Q3')
print('\nQuarter 3 start time:',q3.start_time)
print('Quarter 3 end time:',q3.end_time)

Quarter 3 start time: 2017-07-01 00:00:00
Quarter 3 end time: 2017-09-30 23:59:59.999999999

In [11]:
print('Difference between date_range and period_range')

date = pd.date_range('2011', '2017', freq='q')
date

Difference between date_range and period_range

DatetimeIndex(['2011-03-31', '2011-06-30', '2011-09-30', '2011-12-31',
               '2012-03-31', '2012-06-30', '2012-09-30', '2012-12-31',
               '2013-03-31', '2013-06-30', '2013-09-30', '2013-12-31',
               '2014-03-31', '2014-06-30', '2014-09-30', '2014-12-31',
               '2015-03-31', '2015-06-30', '2015-09-30', '2015-12-31',
               '2016-03-31', '2016-06-30', '2016-09-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='Q-DEC')

In [12]:
date = pd.period_range('2011', periods=10, freq='q')
date

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [13]:
df = pd.DataFrame(np.random.randint(1,101,(10,2)),index=date,columns=['Random 1','Random 2'])
print(df)

        Random 1  Random 2
2011Q1        41        21
2011Q2        69        29
2011Q3        18        89
2011Q4       100        24
2012Q1        81        36
2012Q2        89        67
2012Q3        96        45
2012Q4        50        12
2013Q1        87        58
2013Q2        59        44

In [14]:
print(df['2011Q3':'2012Q4'])

        Random 1  Random 2
2011Q3        18        89
2011Q4       100        24
2012Q1        81        36
2012Q2        89        67
2012Q3        96        45
2012Q4        50        12