## Accessing Values,Adding and Deletion of Rows and Columns

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)

print('Adding and Deleting Column')
print('\nSample DataFrame:\n',df)

Adding and Deleting Column

Sample DataFrame:
     Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [3]:
df['Random'] = pd.Series(np.random.randint(1,11,4))
print('\nAdded new column "Random":\n',df)

Added new column "Random":
     Name  Age  Random
0    Tom   28       5
1   Jack   34       3
2  Steve   29       5
3  Ricky   42       9

In [4]:
df.pop('Random')
print('\nDeleting Random Column using pop function:\n',df)

Deleting Random Column using pop function:
     Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [5]:
df['Random'] = pd.Series(np.random.randint(1,11,4))

print('Adding and Deleting Rows:')
print('\nSample Data:\n',df)

Adding and Deleting Rows:

Sample Data:
     Name  Age  Random
0    Tom   28       7
1   Jack   34       8
2  Steve   29       3
3  Ricky   42       4

In [6]:
row = pd.DataFrame({'Name':'Mark','Age':20,'Random':np.random.randint(1,11,1)})
row

   Name  Age  Random
0  Mark   20       1

In [7]:
df = df.append(row,ignore_index=True)
print('Adding rows using append:\n',df)

Adding rows using append:
     Name  Age  Random
0    Tom   28       7
1   Jack   34       8
2  Steve   29       3
3  Ricky   42       4
4   Mark   20       1

In [8]:
row = pd.DataFrame({'Name':'Pat','Age':19,'Random':np.random.randint(1,11,1)})
row

  Name  Age  Random
0  Pat   19       6

In [9]:
df = pd.concat([df,row],ignore_index=True)
print('Adding rows using concat:\n',df)

Adding rows using concat:
     Name  Age  Random
0    Tom   28       7
1   Jack   34       8
2  Steve   29       3
3  Ricky   42       4
4   Mark   20       1
5    Pat   19       6

In [10]:
df2 = df.drop([0,1])
print('Deleting 1st and 2nd Row:\n',df2)

Deleting 1st and 2nd Row:
     Name  Age  Random
2  Steve   29       3
3  Ricky   42       4
4   Mark   20       1
5    Pat   19       6

In [11]:
print('Column Selection - Period and Square Bracket can be used to access a column')
print('\nSample DataFrame\n',df)

Column Selection - Period and Square Bracket can be used to access a column

Sample DataFrame
     Name  Age  Random
0    Tom   28       7
1   Jack   34       8
2  Steve   29       3
3  Ricky   42       4
4   Mark   20       1
5    Pat   19       6

In [12]:
print('Name Column:\n',df.Name)

Name Column:
 0      Tom
1     Jack
2    Steve
3    Ricky
4     Mark
5      Pat
Name: Name, dtype: object

In [13]:
print('Name and Random Column:\n',df[['Name','Random']])

Name and Random Column:
     Name  Random
0    Tom       7
1   Jack       8
2  Steve       3
3  Ricky       4
4   Mark       1
5    Pat       6

In [14]:
print('Column Selection using iloc and colon:\n',df.iloc[:,1:3])

Column Selection using iloc and colon:
    Age  Random
0   28       7
1   34       8
2   29       3
3   42       4
4   20       1
5   19       6

In [15]:
print('Row Selection')
print('\nSample DataFrame\n',df)

Row Selection

Sample DataFrame
     Name  Age  Random
0    Tom   28       7
1   Jack   34       8
2  Steve   29       3
3  Ricky   42       4
4   Mark   20       1
5    Pat   19       6

In [16]:
print('\nSelecting last row:\n',df.iloc[-1])

Selecting last row:
 Name      Pat
Age        19
Random      6
Name: 5, dtype: object

In [17]:
print('Selecting Name and Age in 2nd to 5th row:\n',df.iloc[1:5][['Name','Age']])

Selecting Name and Age in 2nd to 5th row:
     Name  Age
1   Jack   34
2  Steve   29
3  Ricky   42
4   Mark   20